.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: montserrat;
}

.header1 {
  background-color: black;
  color: #fff;
  padding: 15px 0px;
  text-align: center;
}

/* navbar style here  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.logo {
  font-size: 32px;
}
.logod {
  font-weight: bold;
}
.menu ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-icons ul {
  display: flex;
  gap: 15px;
  list-style: none;
  align-items: center;
}
/* hero section style  */
.hero {
  height: 630px;
  background: url("./img/bg1.png");
  margin: 15px;
  display: flex;
}
.hero-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.arrow1 {
  flex: 1;
}
.inner-content {
  flex: 9;
}

.hero-heading {
  font-size: 33px;
  margin-bottom: 40px;
}
.primary-btn {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  padding: 15px 40px;
}

/* collection section style  */

.collection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 20px 0px;
}

.card-list .card-item .card-img {
  user-select: none;
}

.card-wrapper {
  max-width: 1400px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.swiper-button-prev{
  color: black;
}
.swiper-button-next{
  color: black;
}







@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }
}