.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: montserrat;
}

.header1 {
  background-color: black;
  color: #fff;
  padding: 15px 0px;
  text-align: center;
}

/* navbar style here  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.logo {
  font-size: 32px;
}
.logod {
  font-weight: bold;
}
.menu ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-icons ul {
  display: flex;
  gap: 15px;
  list-style: none;
  align-items: center;
}
/* hero section style  */
.hero {
  height: 630px;
  background: url("./img/bg1.png") no-repeat center center/ cover;
  margin: 15px;
  display: flex;
}
.hero-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.arrow1 {
  flex: 1;
}
.inner-content {
  flex: 9;
}

.hero-heading {
  font-size: 33px;
  margin-bottom: 40px;
}
.primary-btn {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  padding: 15px 40px;
}

/* collection section style  */

.collection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 20px 0px;
}

.card-list .card-item .card-img {
  user-select: none;
}

.card-wrapper {
  max-width: 1400px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.swiper-button-prev {
  color: black;
}
.swiper-button-next {
  color: black;
}

/* offer sign up style here  */
.offer {
  height: 513px;
  background: url("./img/bg2.png") no-repeat center center/ cover;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.offer-heading {
  font-size: 33px;
  margin-bottom: 40px;
  color: #fff;
}
.offer-content {
  margin-right: 52px;
}

.sample ul {
  display: flex;
  justify-content: space-around;
  margin: 70px 0px;
}

.sample ul li {
  list-style: none;
}

/* footer section style  */
footer {
  margin: 100px 0px;
}
footer hr {
  margin: 30px auto;
  width: 90%;
}
.hr-content {
  width: 80%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hr-content ul {
  display: flex;
  gap: 23px;
  justify-content: center;
  align-items: center;
}
.hr-content ul li {
  list-style: none;
}
.mail-heading {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}
.hr-btn {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  height: 30px;
  width: 97px;
}
.input-field {
  height: 30px;
  border: none;
  border-bottom: black 1px solid;
  outline: none;
  width: 279px;
}

/* footer main section  */
.footer-main {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer-main ul li {
  list-style: none;
  color: #777777;
  row-gap: 10px;
  margin-bottom: 10px;
}
.footer-caption {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact {
  font-weight: 600;
}
#email {
  margin: 15px 0px;
}
.copyright {
  margin: 65px auto;
  text-align: center;
  font-size: 11px;
}
.copy {
  color: #777777;
}

/* cashmere style here  */
.cashmere {
  width: 95%;
  margin: 50px auto;
}
.chashmere-sec {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cashmenu {
  flex: 1;
}
.cashmenu ul li {
  list-style: none;
  margin-bottom: 10px;
  color: #777777;
}
.cash-middle {
  flex: 5;
}
.cashmere-end {
  flex: 1;
}
.cashm {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.cashmere-title {
  font-size: 12px;
}
.cashmere-sort {
  font-size: 10px;
  font-weight: bold;
}
.cashmere-title-color {
  color: #777777;
}
.downarrow {
  color: black;
  /* margin-left: 10px; */
}
.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cashmere-content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.filter-list ul {
  display: flex;
  justify-content: start;
}
.filter-list ul li {
  list-style: none;
  margin-right: 15px;
}
.filter-list ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0px;
  justify-content: space-between;
}

.product-card {
  width: 282px;
}

.card-image {
  position: relative;
}
.badge,
.wishlist {
  z-index: 2;
}

.main-img {
  width: 100%;
  display: block;
}
.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ffffff;
  padding: 8px 12px;
  font-size: 10px;
  letter-spacing: 2px;
}
.wishlist {
  position: absolute;
  top: 15px;
  right: 15px;
}
.wishlist img {
  width: 22px;
  cursor: pointer;
}
.card-content {
  padding: 15px 0px;
}
.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  font-size: 14px;
}
.price {
  font-size: 14px;
}
.more-colors {
  margin-top: 8px;
  font-size: 13px;
  color: #555;
}
#hr-full {
  width: 100%;
}

/* details cashmere style  */
.upper-details {
  display: flex;
}
.details-left {
  flex: 2;
}
.details-right {
  flex: 1;
  padding: 20px 26px;
}
.path {
  color: #777777;
}
.right-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.right-price {
  font-size: 22px;
  font-weight: 600;
}
#right-hr {
  width: 100%;
}
.right-para {
  margin: 35px 0px;
  font-size: 12px;
}
.fit {
  font-size: 12px;
  margin-bottom: 25px;
}
.inner-right {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
select{
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0px;
  font-size: 11px;
}
#bagbtn{
  width: 100%;
  margin-bottom: 50px;
}
.heart-add{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: 15px;
}
hr{
  margin: 20px 0px;
}
.view-heading{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.recent-view{
  display: flex;
  gap: 20px;
}
/* collection slider responsive  */
@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }
}
